.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sara {
  color: rgb(116, 179, 238);
}
.sign {
  background-color: rgba(1, 55, 91, 255);
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
.wh {
  margin-top: -190px;
  max-width: 30%;
  height: auto;
}
.text {
  display: inline-block;
  width: 70%;
  padding: 10px 20px 30px 40px;
}
.btn button {
  border: none;
  outline: none;
  padding: 8px;
  margin-left: 5px;
  border-radius: 10px;
  color: rgb(70, 37, 70);
  font-size: 15px;
}
.btn button:hover {
  border: 1px solid purple;
}
.col {
  color: rgb(70, 37, 70);
}
.col input {
  border: none;
}



